{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Credity</title>
    <link rel="stylesheet" href="{% static "css/orgstyle.css" %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <style>
        .input-group.md-form.form-sm.form-1 input {
            border: 1px solid #bdbdbd;
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }

        .input-group.md-form.form-sm.form-2 input {
            border: 1px solid #bdbdbd;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .input-group.md-form.form-sm.form-2 input.red-border {
            border: 1px solid #ef9a9a;
        }

        .input-group.md-form.form-sm.form-2 input.lime-border {
            border: 1px solid #cddc39;
        }

        .input-group.md-form.form-sm.form-2 input.amber-border {
            border: 1px solid #ffca28;
        }

        input {
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="line-preloader"></div>
</div>
<br>
<div class="">
    <div class="col-9">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn crose-btn btn-2">Logout</button>
        </form>
    </div>
</div>
<section class="call-to-action-area section-padding-100 bg-img bg-overlay"
         style="background-image: url({% static "img/bg-img/6.jpg" %})">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="call-to-action-content text-center">
                    <h6>Hi, {{ publicKey }}</h6>
                    <h2>It is your place to make easy transactions and connect with users easily</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action Area End ##### -->

<br><br>
<!-- Search form -->
<!-- 0xCA35b7d915458EF540aDe6068dFe2F44E8fa733c -->
<div class="input-group md-form form-sm form-1 pl-0">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="call-to-action-content text-center">
                    <form method="GET" action="{% url 'org.searchLoanie' %}">
                        <input class="form-control my-0 py-1" type="text"
                               placeholder="0xCA35b7d915458EF540aDe6068dFe2F44E8fa733c"
                               aria-label="Search" name="loanieAddress">
                        <button type="submit" class="btn crose-btn btn-2">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Upcoming Events Slide -->
<div class="upcoming-events-slides-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="upcoming-slides owl-carousel">

                    <div class="single-slide">
                        {% if loans|length > 0 %}
                            {% for loan in loans %}
                                <!-- Single Upcoming Events Area -->
                                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                    <!-- Content -->
                                    <!-- Thumbnail -->
                                    <div class="upcoming-events-thumbnail">
                                        <img src="{% static "img/bg-img/23.jpg" %}" alt="">
                                    </div>
                                    <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                        <div class="events-text">
                                            <h4>Amount: {{ loan.amount }}</h4>
                                            <div class="events-meta">
                                                <a href="#">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    Loanie: {{ loan.loanieAddress }}
                                                </a>
                                                <br>
                                                <a href="#">
                                                    <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                                                    Number of Installments: {{ loan.installmentsNum }}
                                                </a>
                                                <br>
                                                <a href="#">
                                                    <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                                                    Interest: {{ loan.interest }} %
                                                </a>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="table-responsive-sm">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Paydate</th>
                                                <th scope="col">Payout Date</th>
                                                <th scope="col">Paid</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if loan.installments|length > 0 %}

                                                {% for installment in loan.installments %}
                                                    <tr>
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td>{{ installment.amount }}</td>
                                                        <td>{{ installment.payDate }}</td>
                                                        <td>{{ installment.payOutDate }}</td>
                                                        <td>{{ installment.paid }}</td>
                                                        <td>
                                                            {% if installment.paid == "True" %}
                                                                <button type="button"
                                                                        style="display:none;"
                                                                        id="{{ forloop.counter0|stringformat:"s"|add:"_"|add:loan.id }}"
                                                                        class="confirmBtn btn btn-success">Confirm
                                                                </button>
                                                            {% else %}
                                                                <button type="button"
                                                                        id="{{ forloop.counter0|stringformat:"s"|add:"_"|add:loan.id }}"
                                                                        class="confirmBtn btn btn-success">Confirm
                                                                </button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>

                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            {% endfor %}
                        {% else %}
                            <div>
                                <center><h2>There is no loans here!</h2></center>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ##### Upcoming Events Area End ##### -->
<br><br><br>
<h1>Create A New Loan</h1>
<center><a href="{% url 'org.createloan' %}">
    <button class="btn crose-btn btn-2">Create Loan</button>
</a></center>
<br><br><br>
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="{% static "js/jquery/jquery-2.2.4.min.js" %}"></script>
<!-- Popper js -->
<script src="{% static "js/bootstrap/popper.min.js" %}"></script>
<!-- Bootstrap js -->
<script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
<!-- All Plugins js -->
<script src="{% static "js/plugins/plugins.js" %}"></script>
<!-- Active js -->
<script src="{% static "js/active.js" %}"></script>


<script type="text/javascript">
    $(function () {
        $('.confirmBtn').click(function () {
            var id;
            id = $(this).attr("id");
            var invite = "invite";
            $.ajax({
                type: "GET",
                url: "confrimInstallment",
                data: {
                    installmentId: id
                },
                success: function (data) {
                    window.location.reload()
                }
            });

        });


    });
</script>


</body>

</html>