__pycache__/
# Json files
Solidity/build/
bin/

build/contracts

# PyCharm
venv/
.idea/

#Jupyter Notebook
CreditHistorySite/src/.ipynb_checkpoints/

#PyCharm Django project
CreditHistorySite/__pycache__
