{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static "css/metamask.css" %}">
    
    <head>
        <title>Step 2: Connect with metamask!</title>
        <meta charset="UTF-8">
        <meta name="X-UA-Compitable" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body class="bg-img">
            <form method='POST' action="{% url 'index' %}" class="container">
                {% csrf_token %}
                <button type="submit" id="signup" onclick ="metamask()">Connect to metamask!</button>

            </form>
        
    </body>
</html>
<script>
    async function metamask() {
        var privateKey = document.getElementById("private_key");
        const publicAdd=await ethereum.enable();
        if(web3 !== 'undefined'){
            alert('welcome'+publicAdd);
        }
        else{
            alert('Web3 is not defined!');
        }

    }
    </script>