{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static "css/signuporg.css" %}">
    
    <head>
        <title>Step 1: Enter Your Information</title>
        <meta charset="UTF-8">
        <meta name="X-UA-Compitable" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body class="bg-img">

            <form method='POST' action="{% url 'afterSignup' %}" class="container" >
                {% csrf_token %}
                <label for="fname">Name of The Organiztion:</label><br>
                <input type="text" name="name" placeholder="Name of The Loaner" required><br>
                <label for="fname">Commercial No. of The Organiztion:</label><br>
                <input type="text" name="commercial_no" placeholder="Commercial Registration No." required><br>
                <label for="fname">Select logo:</label></br>
                <input type="file" name="logo" placeholder="Logo of The Loaner"></label><br>
                <label for="fname">Public key:</label></br>
                <input type="text" name="publickey" placeholder="Enter your public key" required><br>
                <label for="fname">Private key:</label></br>
                <input type="password" name="privatekey" placeholder="Enter your private key" required><br>
                <label for="fname">Password:</label></br>
                <input type="password" name="password" placeholder="Enter the password"><br>


                <button type="submit" id="signup">Sign Up</button>
            </form>
            
    </body>
</html>