{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Credity</title>
    <link rel="stylesheet" href="{% static "css/orgstyle.css" %}">
    <style>
        .input-group.md-form.form-sm.form-1 input {
            border: 1px solid #bdbdbd;
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }

        .input-group.md-form.form-sm.form-2 input {
            border: 1px solid #bdbdbd;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .input-group.md-form.form-sm.form-2 input.red-border {
            border: 1px solid #ef9a9a;
        }

        .input-group.md-form.form-sm.form-2 input.lime-border {
            border: 1px solid #cddc39;
        }

        .input-group.md-form.form-sm.form-2 input.amber-border {
            border: 1px solid #ffca28;
        }
    </style>
</head>

<body>
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="line-preloader"></div>
</div>

<section class="call-to-action-area section-padding-100 bg-img bg-overlay"
         style="background-image: {% static "img/bg-img/6.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="call-to-action-content text-center">
                    <h6>A Place For You</h6>
                    <h2>It is your place to know your credit history easily</h2>
                    <a href="#" class="btn crose-btn btn-2">Invite other users</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action Area End ##### -->

<br><br>
<!-- Upcoming Events Slide -->
<div class="upcoming-events-slides-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="upcoming-slides owl-carousel">

                    <div class="single-slide">
                        <!-- Single Upcoming Events Area -->
                        <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                            <!-- Thumbnail -->
                            <div class="upcoming-events-thumbnail">
                                <img src="{% static "img/bg-img/23.jpg" %}" alt="">
                            </div>
                            <!-- Content -->
                            <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                <div class="events-text">
                                    <h4>Make a Credit Card</h4>
                                    <div class="events-meta">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 01,
                                            2018</a>
                                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 -
                                            11:00</a>
                                        <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 11 Margani
                                            St, newMasr, Cairo</a>
                                    </div>
                                    <p>make a credit card with available amount in that time=5000 LE</p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <div class="find-out-more-btn">
                                    <a href="#" class="btn crose-btn btn-2">Find Out More</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Upcoming Events Area -->
                        <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                            <!-- Thumbnail -->
                            <div class="upcoming-events-thumbnail">
                                <img src="{% static "img/bg-img/23.jpg" %}" alt="">
                            </div>
                            <!-- Content -->
                            <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                <div class="events-text">
                                    <h4>Take a loan</h4>
                                    <div class="events-meta">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 15,
                                            2018</a>
                                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 -
                                            13:00</a>
                                        <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 11 Margani
                                            St, newMasr, Cairo</a>
                                    </div>
                                    <p>he toke a loan that is 100000 LE to make a Coffee Shop</p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <div class="find-out-more-btn">
                                    <a href="#" class="btn crose-btn btn-2">Find Out More</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Upcoming Events Area -->
                        <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                            <!-- Thumbnail -->
                            <div class="upcoming-events-thumbnail">
                                <img src="{% static "img/bg-img/25.jpg" %}" alt="">
                            </div>
                            <!-- Content -->
                            <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                <div class="events-text">
                                    <h4>Send money to your cousin</h4>
                                    <div class="events-meta">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> May 19,
                                            2019</a>
                                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 -
                                            17:00</a>
                                        <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 17 Faisl St,
                                            giza</a>
                                    </div>
                                    <p>he sent 5000 LE to Ahmad Samir at Alex</p>
                                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <div class="find-out-more-btn">
                                    <a href="#" class="btn crose-btn btn-2">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ##### Upcoming Events Area End ##### -->
<br><br><br>
<h1>Verify a New transaction</h1>
<center><a href="#">
    <button>Verify transction</button>
</a></center>
<br><br><br>
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src={% static "js/jquery/jquery-2.2.4.min.js" %}></script>
<!-- Popper js -->
<script src={% static "js/bootstrap/popper.min.js" %}></script>
<!-- Bootstrap js -->
<script src={% static "js/bootstrap/bootstrap.min.js" %}></script>
<!-- All Plugins js -->
<script src={% static "js/plugins/plugins.js" %}></script>
<!-- Active js -->
<script src={% static "js/active.js" %}></script>
</body>

</html>